<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>

  <div class="field">
    <%= f.label :service %><br>
    <%= f.select :service, options_for_select(Account.services.collect { |s| [s[0].humanize, s[0]] }, selected: @account.service), {} %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
